/* vim: set et sw=4 ts=4 sts=4 ft=css fdm=marker ff=unix fenc=utf8 nobomb: */
/**
 * @author mingcheng<lucky#gracecode.com>
 * @date   2013-02-22
 * @link   http://www.gracecode.com/
 */

/*
z {
    outline: 1px solid red;
}
*/

.chrome-popup div.pubmed-popup h1.logo,
.chrome-popup div.pubmed-popup form button[type=submit] {
    background: url('dictionary.png') no-repeat scroll -999em -999em;
}

div.pubmed-popup {
    font: 12px/1.5em arial,verdana,'Helvetica',sans-serif!important;
    display: none;
    position: fixed;
    z-index: 99999;
    left: 100px;
    top: 100px;
    border: 3px solid #ccc;
    width: 350px!important;
    color: #333;
    background: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 15px #999;
    opacity: .98;
}

div.pubmed-popup .popup-title {
    background: #3B5998;
    padding: .5em;
    color: #fff;
    position: relative;
    cursor: move;
    height: 20px;
    line-height: 20px;
}

div.pubmed-popup .popup-title .pin,
div.pubmed-popup .popup-title .close {
    display: block;
    height: 18px;
    width: 18px;
    position: absolute;
    right: 5px;
    top: .5em;
    cursor: pointer;
    z-index: 9999;
    opacity: .75;
    text-indent: -999em;
    background: red;
}

div.pubmed-popup .popup-title .pin {
    background: yellow;
    right: 30px;
}

div.pubmed-popup .popup-title .pined {
    background: green;
}

div.pubmed-popup .pubmed-content {
    text-align: left!important;
    padding: 0 .5em .5em .5em;
    background: #fff;
    width: auto;
}

div.pubmed-popup .pubmed-content h4,
div.pubmed-popup .pubmed-content h5 {
    font-size: 1em;
    margin: .5em 0 0 0;
    font-weight: bold;
    font-family: arial,verdana,'Helvetica',sans-serif!important;
    text-transform: capitalize!important;
    text-decoration: none;
}

div.pubmed-popup .pubmed-content h5 {
    font-size: 1em;
    margin: .5em 0 0 0;
}

div.pubmed-popup .pubmed-content h4 span {
    padding-left: .2em;
    color: #555;
}

div.pubmed-popup .pubmed-content .more {
    display: block;
    text-align: right;
    margin-top: .5em;
}

div.pubmed-popup .pubmed-content dl {
    margin: 0;
}

div.pubmed-popup .pubmed-content dl dt {
    font-weight: bold;
    margin-top: .5em;
}

div.pubmed-popup .pubmed-content dl dd {
    margin: 0;
    max-height: 250px;
    overflow: auto;
}

div.pubmed-popup .pubmed-content dl dd p {
    margin: .2em 0;
    line-height: 1.5em;
    text-indent: 0em;
}

div.pubmed-popup .pubmed-content dl dd hr {
    width: 10%;
    background-color: #fff;
    border: 0px;
    margin: .3em 0;
}

.chrome-popup {
    background-color: #eeeff4;
}

.chrome-popup div.pubmed-popup {
    display: block;
    position: static;
    border-radius: none;
    box-shadow: none;
    width: 250px!important;
    border: none;
    background-color: #eeeff4;
}


.chrome-popup div.pubmed-popup h1.logo {
    background-position: 0px 0px;
    width: 115px;
    height: 55px;
    text-indent: -999em;
    margin: .2em 0;
}

.chrome-popup div.pubmed-popup form {
    overflow: hidden;
    *zoom: 1;
}

.chrome-popup div.pubmed-popup .pubmed-content h4,
.chrome-popup div.pubmed-popup .more {
    display: none;
}

.chrome-popup div.pubmed-popup form input[type=text]{
    padding: .5em 1em;
    width: 100px;
    display: inline-block;
    float: left;
    outline: none;
}

.chrome-popup div.pubmed-popup form button[type=submit]{
    display: inline-block;
    width: 90px;
    height: 35px;
    background-position: 0px -234px;
    border: 0px;
    text-indent: -999em;
    float: left;
    margin: 0 1em;
}

.chrome-popup div.pubmed-popup .pubmed-content {
    background-color: #eeeff4;
}

.chrome-popup .config-area {
    padding: 0em;
}

.chrome-popup .config-area p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.chrome-popup .config-area p#config {
    margin: .5em 0;
}

